<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  <configSections>
    <section name="customSection" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <customSection>
    <add key="KeyFromCustomSection" value="valueFromCustomSection" />
  </customSection>
  -->

  <configSections>
    <section name="StartupFolders" type="ConfigWork.StartupFoldersConfigSection, ConfigWork"/>
  </configSections>
  
  <StartupFolders>
    <Folders>
      <add folderType="A" path="С:\test" />
      <add folderType="B" path="C:\Games" />
    </Folders>
  </StartupFolders>
  
</configuration>